#channel-list {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: calc(100% - 90px);
    margin-left: 50px;
    margin-top: 40px;
    width: 250px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: -10px;
    background-color: #2F3136;
    color: #606266;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: 100;
}

#channel-list::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

#channel-list::-webkit-scrollbar-track {
    background-color: transparent;
}

#channel-list::-webkit-scrollbar-thumb {
    background-color: #25272B;
    border-radius: 3px;
}

.categoryNameContainer {
    display: block;
}

.categoryText {
    /* font-variant: small-caps; */
    text-transform: uppercase;
    user-select: none;
    padding: 15px 0 0 0 !important;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    
    transform: translateY(5px) !important;
}

.categoryNameContainer{
    cursor: pointer;
}

.categoryNameContainer:hover .categoryText {
    color: #B4B8BC;
}

.categorySVG {
    height: 10px;
    position: relative;
    top: 5px;
    margin-right: 8px;
    transform: rotate(90deg);
    transition-duration: 0.1s;
}

.open .categorySVG {
    transform: rotate(180deg);
}

.news {
    height: 18px !important;
    width: 18px !important;
    padding: 1px;
}

.channelContainer {
    display: none;
}

.open .channelContainer {
    display: block;
}

.channel {
    user-select: none;
    margin: 2px 0 0 -5px;
}

.voice {
    user-select: none;
    margin-left: -5px;
}

h5 {
    font-weight: 100;
    font-size: 16px;
}

.channelSVG {
    height: 20px;
    width: 20px;
    display: inline-box;
    transform: translateY(-9px);
}

#channel-elements h5 {
    transform: translateY(-5px);
    display: inline-block;
    margin: 0 !important;
    padding: 7px 0 7px 10px;
}

.channel {
    /* margin: 0 0 0 20px; */
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    height: 25px;
}

.channel:hover {
    background-color: #34373c;
    color: #B4B8BC;
}

/* Channel ... formatting */
.channel h5 {
    max-width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.selectedChan {
    background-color: #393c43 !important;
    color: white !important;
}

.channel.newMsg {
    color: white !important;
}

.blocked {
    cursor: not-allowed;
    /* color: #904d3c; */
    color: #fc5c65;
}

.blocked h5 {
    opacity: 0.35;
}

.blocked:hover {
    color: #fc5c65;
    /* background-color: #4d4040; */
    background-color: #3c3434;
}

.blocked:hover h5 {
    opacity: 1;
}