.embed {
    margin: 0 0 7px 0;
    background-color: #2f3136;
    padding: 6px 15px 15px 15px;
    border-radius: 5px;
    border-left: 5px solid;
    color: white;
    min-height: 50px;
    max-width: 512px;
}

.messageTimestamp + .embed {
    margin-top: -20px;
}

.embedLargeIcon {
    height: 90px;
    border-radius: 5px;
    float: right;
}

.embedSmallIcon {
    height: 40px;
    border-radius: 5px;
    float: right;
}

.embedArticleLargeIcon {
    height: 212px;
    padding: 15px 0px 0px;
    border-radius: 5px;
}

/*Author*/
.embedAuthor {
    width: 100%;
    margin: 0 0 5px 0;
}

.embedAuthorImg {
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
}

.embedAuthorName {
    display: inline-block;
    margin: 0 0 0 5px;
    font-size: 14px;
    transform: translateY(-4px);
    color: #aaa;
}

/*Title section*/
.embedTitle {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.embedDescription {
    margin: 5px 0 0 0;
}

.embedContent {
    color: #aaa;
    font-size: 15px;
}

.embedProvierName{
    margin: 5px 0 5px 0;
    font-size: 13px;
}

/*Fields*/
.field {
    margin: 10px 20px 0 0;
}

.fieldName {
    color: #ddd;
    margin: 0;
}

.fieldText {
    margin: 0 0 0 5px;
}

/* Image */
.embedImage {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

/*Footer*/
.footer {
    color: #888;
    margin: 10px 0 0 0;
}

.footerText {
    font-size: 12px;
    margin: 0;
}