@font-face {
  font-family: Whitney;
  src: url("../fonts/whitney-medium.otf");
  font-weight: 100;
}

#body {
  position: fixed;
  overflow-y: hidden;
  margin: 0;
}

.titlebar.windows {
  font-family: Whitney;
  height: 20px !important;
}

.window-icon-bg {
    height: 20px !important;
    margin-top: 5px;
}

.container-after-titlebar {
    left: 8px !important;
    top: 20px !important;
    height: calc(100vh - 20px);
}

.button {
  z-index: 101;
  margin-top: -10px;
}

#max-btn {
  background-color: grey;
  height: 18px;
  width: 30px;
  margin-left: calc(100vw - 50px);
  position: absolute;
  z-index: 101;
  margin-top: -3px;
}

.drag {
  background-color: #202225;
  height: 30px;
  width: 100vw;
  margin-top: -10px;
  margin-left: -8px;
  z-index: 100;
  position: absolute;
}

#titleBar-name {
  position: absolute;
  color: white;
  font-size: 12px;
  z-index: 101;
  margin-top: 0px;
  margin-left: 2px;
}

#main {
  position: fixed;
  height: calc(100vh - 20px);
}


#guild-icon {
  border-radius: 50%;
  margin-left: 10px;
  transition-duration: 0.3s;
  user-select: none;
}

#guildAbrev {
  position: absolute;
  overflow-x: hidden;
  color: White;
  font-family: Whitney;
  text-align: center;
  font-size: 13px;
  width: 40px;
}

#guild-icon:hover {
  cursor: pointer;
}

#guild-list {
  width: 60px;
  height: 100%;
  margin: 0px -10px 10px -10px;
  padding-top: 2px;
  background-color: #202225;
  overflow-y: auto;
  position: absolute;
  padding-bottom: 2px;
}

#guild-list::-webkit-scrollbar {
  display: none;
}

#guildIndicator {
  background-color: white;
  height: 30px;
  width: 12px;
  margin-left: -6px;
  position: absolute;
  z-index: 100;
  border-radius: 3px;
  display: none;
  transition-duration: 0.2s;
}

#channel-list {
  font-family: Whitney;
  height: calc(100% - 90px);
  margin-left: 50px;
  margin-top: 40px;
  width: 250px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: -10px;
  background-color: #2F3136;
  color: #606266;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 100;
}

#userCard {
  position: absolute;
  background-color: #2A2C31;
  height: 42px;
  width: 260px;
  margin-left: 50px;
  font-family: Whitney;
  color: #eee;
}

#userCardIcon {
  margin-top: 6px;
  margin-left: 45px;
  border-radius: 25%;
}

#userCardName {
  margin-top: -33px;
  margin-left: 80px;
  font-size: 13px;
  position: absolute;
}

#userCardDiscrim {
  margin-top: -18px;
  font-size: 10px;
  margin-left: 80px;
  position: absolute;
  color: #999;
}

#userCardBot {
  position: absolute;
  font-size: 10px;
  margin-top: 13px;
  margin-left: 8px;
  background-color: #0066dd;
  padding: 2px;
  border-radius: 4px;
}

#channel-list::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

#channel-list::-webkit-scrollbar-track {
  background-color: transparent;
}

#channel-list::-webkit-scrollbar-thumb {
  background-color: #25272B;
  border-radius: 3px;
}

.categoryText {
  font-variant: small-caps;
  user-select: none;
  cursor: default;
}

.channel {
  user-select: none;
  margin-left: -5px;
}

.voice {
  user-select: none;
  margin-left: -5px;
}

#channelText {
  width: 240px;
  height: 15px;
  padding: 7px 0 7px 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  border-radius: 3px;
}

#channelTextx {
  width: 240px;
  height: 15px;
  padding: 7px 0 7px 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 3px;
}

.viewableText {
  cursor: pointer;
}

.viewableText:hover {
  background-color: rgba(150,150,150,0.1);
  color: #B4B8BC;
}

.blockedText {
  cursor: default;
}

#channelVoice {
  width: 240px;
  height: 15px;
  padding: 7px 0 7px 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  border-radius: 3px;
}

#channelVoicex {
  width: 240px;
  height: 15px;
  padding: 7px 0 7px 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 3px;
}

.viewableVoice:hover {
  color: #B4B8BC;
}

.blockedVoice {
  cursor: default;
}

.viewableVoice {
  cursor: pointer;
}

#serverName {
  height: 40px;
  width: 270px;
  background-color: grey;
  margin: 0px 0 10px 50px;
  background-color: #202225;
  font-family: Whitney;
  position: absolute;
}

#guildName {
  padding-left: 10px;
  padding-top: 3px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #bbb;
}

#guildImg {
  height: 35px;
  margin-top: -25px;
  margin-left: 220px;
  border-radius: 25%;
  position: absolute;
}

#members-text {
  margin-top: -5px;
  font-weight: bold;
  color: #666;
}

#members-count {
  margin-left: 70px;
  color: #999;
}

.members {
  font-size: 12px;
  margin-top: -25px;
  margin-left: 10px;
}

#message-list {
  background-color: #36393E;
  height: calc(100vh - 157px);
  border-bottom: 1px solid #484B51;
  width: calc(100vw - 518px);
  position: absolute;
  margin-top: calc(-100vh + 128px);
  margin-left: 310px;
  overflow-y: auto;
  font-family: Whitney;
  overflow-x: hidden;
  position: absolute;
}

#message-list::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

#message-list::-webkit-scrollbar-track {
  background-color: transparent;
}

#message-list::-webkit-scrollbar-thumb {
  background-color: #25272B;
  border-radius: 3px;
}

#messageCont {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #484B51;
  margin-top: 3px;
  min-height: 57px;
  overflow-y: hidden;
  overflow-x: auto;
}

#messageCont::-webkit-scrollbar {
  background-color: transparent;
  height: 6px;
}

#messageCont::-webkit-scrollbar-track {
  background-color: transparent;
}

#messageCont::-webkit-scrollbar-thumb {
  background-color: #25272B;
  border-radius: 3px;
}


#messageText{
  margin-left: 60px;
  font-weight: 100;
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 7px;
  color: rgb(220,221,222);
  transform: translateX(-0.5px);
}

#messageUsername {
  font-size: 13px;
  margin-left: 60px;
  margin-top: -40px;
  margin-bottom: 10px;
  user-select: none;
  cursor: default;
}

#messageImg {
  height: 40px;
  margin-top: 10px;
  border-radius: 50%;
  user-select: none;
}

#sendmsg {
  position: absolute;
  margin-left: 310px;
  margin-top: -28px;
  width: calc(100vw - 518px);
  height: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #36393E;
}

#msgbox {
  width: calc(100% - 50px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #484B51;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: white;
}

#settoken {
  margin-left: 310px;
  width: calc(100vw - 318px);
  background-color: #36393E;
  position: absolute;
  margin-top: calc(-100vh + 48px);
  height: 49px;
  border-bottom: 1px solid #484B51;
  padding-top: 30px;
  margin-bottom: 5px;
}

#tokenbox {
  display: block;
  width: calc(100% - 90px);
  border: none;
  background-color: #484B51;
  color: white;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #484B51;
}

#tokenspace {
  display: block;
  margin-left: 10px;
}

#savebtn {
  margin-top: 0px;
  position: absolute;
  margin-left: calc(100% - 72px);
  z-index: 100;
  padding: 10px;
  color: #777777;
  background-color: #484B51;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: -35px;
}

#savebtn:hover {
  background-color: #404040;
}

#options {
  height: calc(100vh - 86px);
  width: 201px;
  margin-top: calc(-100vh + 128px);
  margin-left: calc(100vw - 209px);
  background-color: #2F3136;
  overflow-y: auto;
}

.optionBox {
  width: 150px;
  padding: 5px;
  background-color: #484B51;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  margin-top: 5px;
  border: none;
  outline: none;
}

#inviteBtn {
  cursor: pointer;
}

#inviteBtn:hover {
  background-color: #393939;
}
