#memberBar {
    height: calc(100vh - 40px);
    width: 201px;
    margin-top: calc(-100vh + 60px);
    margin-left: calc(100vw - 209px);
    background-color: #2F3136;
    overflow-y: auto;
    padding: 20px 10px 0 0px;
    overflow-y: scroll;
}

#memberBar::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

#memberBar::-webkit-scrollbar-track {
    background-color: transparent;
}

#memberBar::-webkit-scrollbar-thumb {
    background-color: #25272B;
    border-radius: 3px;
}

.roleContainer {
    margin-bottom: 20px;
    margin-left: 15px;
}
  
.roleTitle {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #8E9297;
    font-size: 12px;
    text-transform: uppercase;
}

.mLUserDiv {
    margin-left: -10px;
    padding: 7px 10px 4px 10px;
    user-select: none;
    border-radius: 3px;
}

.mLUserDivOffline {
    opacity: 0.3;
}

.mLUserDiv:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #34373c;
}

.mLIcon {
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.mLUsername {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #8E9297;
    margin: 10px 0 0 0;
    padding: 0;
    display: inline-block;
    transform: translateY(-9px);
    text-overflow: ellipsis;
    max-width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
}

#offlineUsersTransparent {
    opacity: 0.3;
}