/* Message Container */
.inlineMsgCont {
    margin: -60px 0 20px 90px;
}

/* Emojis */
.emoji {
    height: 22px;
    margin: -2px 0 0 0;
    transform: translateY(2px);
}

.embed .emoji {
    height: 18px !important;
}

.bigEmoji .emoji {
    height: 50px !important;
}

.spoilerBlock .emoji {
    opacity: 0;
}

.discovered .emoji {
    opacity: 1;
}

/* Links */
a {
    color: #00b0f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Image Previews */
.previewImage {
    margin-bottom: 10px;
    height: auto;
}

/* Message Text */
.messageText {
    font-family: Whitney-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 3px 0 3px 0;
    margin: 0;
    color: #dcddde;
    width: calc(100% - 40px);
    word-spacing: 2px;
    position: relative;
    overflow: hidden;
}

.messageCont {
    width: 100%;
    /* border-top: 1px solid #484B51; */
    padding: 5px 0;
    min-height: 57px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: -30px;
}

.messageCont::-webkit-scrollbar {
    background-color: transparent;
    height: 6px;
}

.messageCont::-webkit-scrollbar-track {
    background-color: transparent;
}

.messageCont::-webkit-scrollbar-thumb {
    background-color: #25272B;
    border-radius: 3px;
}

.messageBoxText {
    font-family: Whitney-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 2px 0 1px 0;
    margin: 0;
    color: #dcddde;
    width: calc(100% - 40px);
    word-spacing: 2px;
    position: relative;
}

.messageTimestamp + .messageText {
    margin-top: -26px;
}

.messageBlock {
    display: block;
    position: relative;
    padding-left: 90px;
    border-radius: 3px;
}

.messageBlock.firstmsg {
    padding-top: 5px;
    padding-bottom: 2px;
}

.messageBlock:hover {
    background-color: #32353b;
    z-index: 0;
}

.messageUsername {
    -webkit-user-drag: none;
    cursor: default;
    display: inline-block;
    margin: 3px 0;
    left: -40px;
    top: -26px;
    position: relative;
}

.messageUsername:hover {
    text-decoration: underline;
}

.messageTimestamp {
    color: #72767d;
    font-size: 12px;
    display: inline-block;
    margin: 3px 0;
    top: -26px;
    left: -35px;
    position: relative;
}

.messageImg {
    height: 40px;
    left: -60px;
    border-radius: 50%;
    user-select: none;
    z-index: 1;
    position: relative;
}

.barryImg {
    left: 30px;
    top: 5px;
    user-select: none;
}

/* Code Block */
.codeBlock {
    width: 100%;
    background-color: #2f3136;
    border: 1px solid #202225;
    border-radius: 3px;
    padding: 5px;
    font-family: monospace !important;
    font-size: 14px;
    color: #b9bbbe;
}

.codeBlockEmbed {
    margin-top: 10px;
    background-color: #202225;
}

/* Inline Code Block */
.inlineCodeBlock {
    background-color: #2f3136;
    padding: 2px;
    font-family: monospace;
    font-size: 14px;
}

/* Spoiler Tag */
.spoilerBlock {
    background-color: #202225;
    color: transparent;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
    min-width: 20px;
    height: 22px;
    display: inline-block;
}

.spoilerBlock:hover {
    background-color: #24262a;
}

.spoilerBlock.discovered {
    color: #dcddde;
    background-color: #474a4f;
}

.spoilerBlock.discovered:hover {
    background-color: #474a4f;
}

/* Mention */
.ping {
    background-color: #3d414f;
    padding: 0 2px 2px 2px;
    color: #7289da;
    border-radius: 3px;
}

.ping:hover {
    background-color: #7289da;
    cursor: pointer;
    color: #dcddde;
}

.emoji {
    height: 22px;
}

.emoji.big {
    height: 50px;
}

.edited {
    font-size: 10px;
    color: #72767d;
    user-select: none;
}