#userPullOutIcon {
    float: right;
    height: 15px;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    user-select: none;
}

#userPullOutIcon:hover {
    cursor: pointer;
    background-color: #fff2;
}

#userPullOutIcon.userSettingsFlip {
    animation-name: userIconRotateDown;
    animation-duration: 0.5s;
    transform: rotate(180deg);
}

#userPullOutIcon.userSettingsFlipOff {
    animation-name: userIconRotateUp;
    animation-duration: 0.5s;
}

#userSettings.userSettingsToggle {
    border-radius: 10px 0 0 0;
}

@keyframes userIconRotateDown {
    from {transform: rotate(0deg);}
    to {transform: rotate(-180deg);}
}

@keyframes userIconRotateUp {
    from {transform: rotate(180deg);}
    to {transform: rotate(0deg);}
}

/* Settings menu */
#userSettings {
    position: absolute;
    background-color: #2A2C31;
    height: 42px;
    width: 260px;
    margin-left: 50px;
    font-family: Whitney-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #eee;
}

#userSettings.userSettingsToggle {
    margin-top: calc(-100vh + 60px);
    height: calc(100vh - 60px);
    animation-name: userSettingsSlideUp;
    animation-duration: 0.5s;
}

#userSettings.userSettingsToggleOff {
    animation-name: userSettingsSlideDown;
    animation-duration: 0.5s;
}

@keyframes userSettingsSlideUp {
    from {margin-top: 0;}
    to {margin-top: calc(-100vh + 60px);}
}

@keyframes userSettingsSlideDown {
    from {
        margin-top: calc(-100vh + 60px);
        height: calc(100vh + 60px);
    }
    to {
        margin-top: 0;
        height: calc(100vh + 60px);
    }
}

/* Settings */
#optionGroups {
    height: 100%;
    background-color: #2a2c31;
    display: block;
}


.optionCategory {
    margin: 0 0 0 2.5%;
    padding: 10px 0;
    font-size: 18px !important;
    padding-left: 20px;
    width: calc(95% - 20px);
    border-radius: 5px;
    color: #B4B8BC;
}

.optionCategory:hover {
    background-color: #34373c;
    cursor: pointer;
    color: #d0d4d9;
}

