# File types to emit
*.log
*.bat
*.db
*.exe
# Some other files that don't need to be uploaded to github
resources/app/json/logins.json
resources/app/scripts/*
resources/app/themes/*
!resources/app/themes/template.css
!resources/app/scripts/template.js